<!DOCTYPE html>
<html lang="en" ng-app="GradientDescentApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <meta charset="utf-8">
        <title>Gradient Descent - Example</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js" charset="utf-8"></script>
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    </head>
    <body ng-controller="MainController as Ctrl" ng-cloak>
        <h3 style="padding:7px;">
            Gradient Descent - Example
        </h3>
        <hr>
        <div layout="column" layout-gt-md="row" style="padding:7px;">
            <div flex>
                <md-checkbox ng-model="data.let_loop" aria-label="Checkbox 1">
                    <span ng-if="data.let_loop">Click here to stop calculating</span>
                    <span ng-if="!data.let_loop">Click here to start calculating</span>
                </md-checkbox>
            </div>
            <div flex>
                <md-button class="md-raised md-primary" ng-click="functions.randomizePoints()">Randomize Points (Even)</md-button>
                <md-button class="md-raised md-primary" ng-click="functions.randomizePointsClose()">Randomize Points (Extreme ends)</md-button>
                <md-button class="md-raised md-primary" ng-click="functions.gradientDescent()">Perform Once</md-button>
            </div>
        </div>
        <div layout="column" layout-gt-md="row">
            <div flex=25 style="padding:7px;">
                <!-- <span>M: {{data.m | number: 6}}</span> <br>
                <span>B: {{data.b | number: 6}}</span> <br>
                <span>F(x) = {{data.m | number: 3}} * x + {{data.b | number: 3}}</span> <br> -->
                <md-input-container>
                <label>M</label>
                    <input ng-model="data.m" type="number">
                </md-input-container>
                <md-input-container>
                <label>B</label>
                    <input ng-model="data.b" type="number">
                </md-input-container>
                <md-input-container>
                    <label>Learning Rate</label>
                    <input ng-model="data.learining_rate" type="number" step="0.001">
                </md-input-container>
            </div>
            <div flex=70>
                <canvas id="canvas" style="display: block;"></canvas>
            </div>
            <div flex=5></div>
        </div>
        <div layout="row">
            <div flex style="padding:15px;">

            </div>
            <div flex>

            </div>
            <div flex>

            </div>

        </div>
        <div layout="row" style="padding: 7px;">
            <div flex>

                <md-input-container>
                    <label>Add point: X</label>
                    <input type="number" ng-model="data.add_x">
                </md-input-container>
                <md-input-container>
                    <label>Add point: Y</label>
                    <input type="number" ng-model="data.add_y">
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="functions.addPoint()">Add Point</md-button>
            </div>
        </div>

    </body>
        <script src="./js/js_example.js" charset="utf-8"></script>
</html>
