<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script type="text/javascript">
      var app = angular.module("StatsApp", []);
    </script>
  </head>
  <body ng-app="StatsApp">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Stats</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Language
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
          </li>
        </ul>
      </div>
    </nav>

<div class="container mt-4" ng-controller="AppCtrl as Ctrl">
    <div class="row">
      <div class="col-sm-12">
        <!-- Smoking habit (week) -->
        <form ng-show="form_show.shw_perWeek">
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <h3 class="text-center">
                <i class="fas fa-calendar-alt"></i> How many cigarretes where you smoking per week?
              </h3>
              <hr>
              <h4 class="text-center">
                You can adjust amount of cigarretes for each day of the week for more accurate result.
              </h4>
            </div>
            <div class="col-md-6 mb-3" ng-repeat="shw in smokingHabitWeek">
              <label for="dateOfStopSmoking">Amount of cigarettes I smoked at <b>{{shw.dname}}s</b> ( {{shw.value}} )</label>
                <div class="input-group">
              <input ng-change="fun_update()" ng-model="shw.value" type="range" min="0" max="100" class="form-control" id="dateOfStopSmoking">
            </div>
            </div>
            <div class="col-md-12 mb-3">
              <label for="cigarettesPerWeek">Number of cigarettes per week</label>
              <div class="input-group">
                <input ng-model="data.cigarettesPerWeek" readonly type="number" class="form-control" id="cigarettesPerWeek">
              </div>
            </div>
          </div>
        </form>
        <!-- Smoking habit (week) End -->
        <!-- Quit date -->
        <form ng-show="form_show.shw_quitDate">
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <h3 class="text-center">
                <i class="far fa-clock"></i> Since when you don't smoke?
              </h3>
              <p class="text-center">
                Today is <b>({{display_data.todayDay}})</b>
              </p>
              <hr>
              <h4 class="text-center">
                Set date manually
              </h4>
            </div>
            <div class="col-md-6 mb-3">
              <label for="dateOfStopSmoking">I stopped Smoking at <b>({{display_data.stoppedSmokingDay}})</b></label>
              <div class="input-group">
                <input ng-change="fun_update()" ng-model="data.dateOfStopSmoking" type="date" class="form-control" id="dateOfStopSmoking">
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="daysPassed">Days passed since I quitted</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">
                    <i class="fas fa-clock"></i>
                  </span>
                </div>
                <input ng-change="fun_update()" ng-model="data.daysPassed" type="number" readonly class="form-control" id="daysPassed">
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <h4 class="text-center">
                <u>or</u> click one of buttons below
              </h4>
            </div>
            <div class="col-md-12 mb-3">
              <button ng-click="preset_stopped_smoking.OneWeek()" type="button" class="btn btn-secondary btn-lg btn-block mt-1">Set 1 week from now</button>
            </div>
            <div class="col-md-12 mb-3">
              <button ng-click="preset_stopped_smoking.OneMonth()" type="button" class="btn btn-secondary btn-lg btn-block mt-1">Set 1 month from now</button>
            </div>
            <div class="col-md-12 mb-3">
              <button ng-click="preset_stopped_smoking.OneYear()" type="button" class="btn btn-secondary btn-lg btn-block mt-1">Set 1 year from now</button>
            </div>
          </div>
        </form>
        <!-- Quit date End -->
        <!-- Cost of smoking -->
        <form ng-show="form_show.shw_costs">
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <h3 class="text-center">
                <i class="fas fa-hand-holding-usd"></i> How much does it cost to smoke your cigarettes?
              </h3>
              <hr>
            </div>
            <div class="col-md-6 mb-3">
              <label for="costOfPack">Cost of pack of cigarettes</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">
                  <i class="fas fa-money-bill"></i>
                  </span>
                </div>
                <input ng-change="fun_update()" ng-model="data.costOfPack" type="number" step="0.01" min="0.01" class="form-control" id="costOfPack">
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cigarettesInPack">Amount of cigarettes in pack</label>
              <div class="input-group">
                <input ng-change="fun_update()" ng-model="data.cigarettesInPack" step="1" min="1" max="100" type="number" class="form-control" id="cigarettesInPack">
              </div>
            </div>
          </div>
        </form>
        <!-- Cost of smoking End -->
        <hr>
      </div>
      <!-- Results -->
      <div class="col-sm-12 mt-4 mb-2" ng-show="form_show.shw_result">
        <form>
          <div class="form-row">

        <div class="col-md-6 mb-3">
          <label for="cigarettesPerWeek">Number of cigarettes per week</label>
          <div class="input-group">
            <input ng-model="data.cigarettesPerWeek" readonly type="number" class="form-control" id="cigarettesPerWeek">
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="costPerWeek">Cost of cigarettes per week</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">
                <i class="fas fa-money-bill"></i>
              </span>
            </div>
            <input value="{{display_data.costPerWeek}}" readonly type="text" class="form-control" id="costPerWeek">
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="cigarettesSmokedToDate">Cigarretes smoked to date</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">
                <i class="fas fa-smoking"></i>
              </span>
            </div>
            <input ng-model="data.cigarettesSmokedToDate" readonly type="number" class="form-control" id="cigarettesSmokedToDate">
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="cigarettesSmokedToDate">Total tar substances</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">
                <i class="fas fa-smoking"></i>
              </span>
            </div>
            <input value="~{{data.cigarettesSmokedToDate}} mg" readonly type="text" class="form-control" id="cigarettesSmokedToDate">
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="cigarettesSmokedToDate">Total nicotine</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">
                <i class="fas fa-smoking"></i>
              </span>
            </div>
            <input value="~{{data.cigarettesSmokedToDate}} mg" readonly type="text" class="form-control" id="cigarettesSmokedToDate">
          </div>
        </div>

        <div class="col-md-12 mb-3">
          <label for="costToDate">Money saved</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="costToDate">
                <i class="fas fa-money-bill"></i>
              </span>
            </div>
            <input value="{{display_data.costToDate}}" readonly type="text" class="form-control" id="costToDate">
          </div>
        </div>
          </div>
      </form>

      <table class="table">
        <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Time</th>
        <th scope="col">Money saved</th>
        <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        </tr>
        </tbody>
      </table>

      </div>
      <!-- Results End -->
    </div>
    <!-- Controls -->
    <div class="row mt-4 mb-4">
      <div class="col-sm-6">
        <button ng-click="prev_panel()" ng-hide="panels_stack_it == 0" type="button" class="btn btn-primary btn-lg btn-block mt-4">Previous</button>
      </div>
      <div class="col-sm-6">
        <button ng-click="next_panel()" ng-hide="panels_stack_it == (panels_stack.length-1)" type="button" class="btn btn-primary btn-lg btn-block mt-4">Next</button>
        <button ng-click="next_panel()" ng-show="panels_stack_it == (panels_stack.length-1)" type="button" class="btn btn-danger btn-lg btn-block mt-4">I'm still not convinced</button>
      </div>
      <hr>
    </div>
    <!-- Controls End -->
</div>

  </body>
  <script type="text/javascript">
    app.controller("AppCtrl", function($scope) {
      $scope.preset_stopped_smoking = {
        OneWeek: function() {
          $scope.data.dateOfStopSmoking = new Date(new Date().valueOf() - ((24*60*60*1000) * (7+1)));
          $scope.fun_update();
        },
        OneMonth: function() {
          $scope.data.dateOfStopSmoking = new Date(new Date().valueOf() - ((24*60*60*1000) * (31+1)));
          $scope.fun_update();
        },
        OneYear: function() {
          $scope.data.dateOfStopSmoking = new Date(new Date().valueOf() - ((24*60*60*1000) * (365+1)));
          $scope.fun_update();
        }
      };
      $scope.panels_stack_it = 0;
      $scope.panels_stack = [
        {shw_perWeek: false, shw_costs: false, shw_quitDate: true, shw_result:false},
        {shw_perWeek: false, shw_costs: true, shw_quitDate: false, shw_result:false},
        {shw_perWeek: true, shw_costs: false, shw_quitDate: false, shw_result:false},
        {shw_perWeek: false, shw_costs: false, shw_quitDate: false, shw_result:true},
      ];
      $scope.next_panel = function() {
        $scope.panels_stack_it += 1;
        $scope.form_show = $scope.panels_stack[$scope.panels_stack_it];
      };
      $scope.prev_panel = function() {
        $scope.panels_stack_it -= 1;
        $scope.form_show = $scope.panels_stack[$scope.panels_stack_it];
      };
      $scope.form_show = $scope.panels_stack[$scope.panels_stack_it];
      var data = {
        dateOfStopSmoking: new Date("03/01/2019"),
        dateOfToday: new Date(),
        daysPassed: 0,
        cigarettesPerWeek: 0,
        cigarettesSmokedToDate: 0,
        costPerWeek: 0,
        costOfOneCigarette: 0.1,
        costOfPack: 11.99,
        costToDate: 0,
        currency_code: "PLN",
        currency_symbol: "zł",
        cigarettesInPack: 20,
      };
      var display_data = {
        costOfPack: "",
        stoppedSmokingDay: "",
        cigarettesSmokedToDate: "",
        todayDay: "",
        costPerWeek: "",
        costToDate: "",
        costOfOneCigarette: ""
      };
      var smokingHabitWeek = [
        {dname: "Sunday", value: 4},
        {dname: "Monday", value: 9},
        {dname: "Tuesday", value: 10},
        {dname: "Wednesday", value: 9},
        {dname: "Thursday", value: 10},
        {dname: "Friday", value: 9},
        {dname: "Saturday", value: 5}
      ];
      $scope.data = data;
      $scope.display_data = display_data;
      $scope.smokingHabitWeek = smokingHabitWeek;

      var sumUpCigarettesSmokedToDate = function() {
        var smoking_stop_day = data.dateOfStopSmoking.getDay();
        var ssd_cpy = smoking_stop_day - 1;
        data.cigarettesSmokedToDate = 0;
        for(var i=0; i<data.daysPassed; ++i) {
          ssd_cpy = (ssd_cpy + 1) % 7;
          data.cigarettesSmokedToDate += smokingHabitWeek[ssd_cpy].value;
        }
      };

      $scope.fun_update = function() {
        // Calculate cost per 1 cigarette
        data.costOfOneCigarette = data.costOfPack / data.cigarettesInPack;
        // Calculate days passed
        data.daysPassed = Math.floor((data.dateOfToday - data.dateOfStopSmoking) / (1000*60*60*24))
        // Calculate number of cigarettes smoked per week and their cost
        data.cigarettesPerWeek = 0;
        for(var i=0; i<7; ++i)
          data.cigarettesPerWeek += smokingHabitWeek[i].value;
        data.costPerWeek = data.cigarettesPerWeek * data.costOfOneCigarette;
        /// Display data
        // Set display values
        display_data.costOfPack = data.costOfPack.toString() + " " + data.currency_symbol;
        display_data.costPerWeek = data.costPerWeek.toFixed(2).toString() + " " + data.currency_symbol;
        display_data.stoppedSmokingDay = smokingHabitWeek[data.dateOfStopSmoking.getDay()].dname;
        display_data.todayDay = smokingHabitWeek[data.dateOfToday.getDay()].dname;
        display_data.costOfOneCigarette = data.costOfOneCigarette.toFixed(2).toString();
        /// Calculate cigarettes smoked to date
        sumUpCigarettesSmokedToDate();
        // Calculate cost to date
        data.costToDate = data.cigarettesSmokedToDate * data.costOfOneCigarette;
        display_data.costToDate = (data.cigarettesSmokedToDate * data.costOfOneCigarette).toFixed(2).toString() + " " + data.currency_symbol;
        /// Propagate data
        $scope.data = data;
        $scope.display_data = display_data;
        $scope.smokingHabitWeek = smokingHabitWeek;
      };

      $scope.fun_update();
    });
  </script>
</html>
