.post-breadcrumb-item+.post-breadcrumb-item::before {
    content: "|";
}

.post-breadcrumb {
    padding-left: 0px !important;
}

.post-bg-color {
    background-color: white !important;
}

.post-border {
    border-right: 5px solid $pumpkinspace;
}

.post-author {
    font-weight: 500;
}

.post-date {
    font-style: italic;
}

.post-tags {

}

.post-ul>li {
    list-style: disc;
}
