<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!-- DEVELOPMENT -->
	
		<title>Rolzwy7</title>
	
	
		<meta name="keywords" content="config_kw_01, config_kw_02">
	
	<meta name="description" content="Description goes here.">
	<meta name="author" content="rolzwy7">
	<link rel="icon" href="/assets/images/custom/favicon.gif" type="image/gif" sizes="16x16">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/assets/css/theme.css">
	<link rel="stylesheet" href="/assets/css/scrollbar.css">
	
	<!-- Angular -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js" charset="utf-8"></script>
	<!-- Google Tag Manager - Head -->
	
	<!-- End Google Tag Manager - Head -->
</head>
<script type="text/javascript">
	var app = angular.module('Rolzwy', []);
	app.config(['$interpolateProvider', function($interpolateProvider) {
		$interpolateProvider.startSymbol('{a');
		$interpolateProvider.endSymbol('a}');
	}]);
	app.config(['$sceDelegateProvider', function($sceDelegateProvider) {
		$sceDelegateProvider.resourceUrlWhitelist([
			'self',
			'https://www.youtube.com/embed/**',
			'https://via.placeholder.com/**',
		]);
	}]);
</script>
<body ng-app="Rolzwy">
	<!-- Google Tag Manager - Body -->
	
	<!-- End Google Tag Manager - Body -->
	
<header>
	<!-- tt-mobile menu -start -->
<nav class="panel-menu mobile-main-menu">
    <ul>
        <li>
            <a href="/blog/">BLOG</a>
            <ul>
                <li>
                    <a href="#">Categories</a>
                    <ul>
                        
                            <li><a href="#">cat1</a></li>
                        
                            <li><a href="#">cat2</a></li>
                        
                            <li><a href="#">cat3</a></li>
                        
                            <li><a href="#">cat4</a></li>
                        
                            <li><a href="#">cat5</a></li>
                        
                            <li><a href="#">cat6</a></li>
                        
                            <li><a href="#">cat7</a></li>
                        
                            <li><a href="#">cat8</a></li>
                        
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div class="mm-navbtn-names">
        <div class="mm-closebtn">Close</div>
        <div class="mm-backbtn">Back</div>
    </div>
</nav>
<!-- tt-mobile menu - end -->

	<!-- tt-mobile-header -->
<div class="tt-mobile-header">
    <div class="container-fluid">
        <div class="tt-header-row">
            <div class="tt-mobile-parent-menu">
                <div class="tt-menu-toggle">
                    <i class="icon-03"></i>
                </div>
            </div>
            <!-- search -->
            <div class="tt-mobile-parent-search tt-parent-box"></div>
            <!-- /search -->
            <!-- cart -->
            <div class="tt-mobile-parent-cart tt-parent-box"></div>
            <!-- /cart -->
            <!-- account -->
            <div class="tt-mobile-parent-account tt-parent-box"></div>
            <!-- /account -->
            <!-- currency -->
            <div class="tt-mobile-parent-multi tt-parent-box"></div>
            <!-- /currency -->
        </div>
    </div>
    <!-- <div class="container-fluid tt-top-line">
        <div class="row">
            <div class="tt-logo-container">
                
                <a class="tt-logo tt-logo-alignment" href="/"><img src="/assets/images/custom/logo.png" alt=""></a>

            </div>
        </div>
    </div> -->
</div>

	<!-- tt-desktop-header - start -->
<div class="tt-desktop-header">
    <div class="container">
        <div class="tt-header-holder">
            <div class="tt-col-obj tt-obj-logo">
                <!-- logo -->
                <a class="tt-logo tt-logo-alignment" href="/">
                
                    <img src="/assets/images/custom/logo-dev.png" alt="logo">
                
                </a>
                <!-- /logo -->
            </div>
            <div class="tt-col-obj tt-obj-menu">
                <!-- tt-menu -->
                <div class="tt-desctop-parent-menu tt-parent-box">
                    <div class="tt-desctop-menu">
                        <nav>
                            <ul>
                                <li class="dropdown tt-megamenu-col-01">
                                    <a href="/">HOME</a>
                                </li>
                                <li class="dropdown tt-megamenu-col-01">
                                    <a href="/blog/">BLOG</a>
                                </li>
                                <li class="dropdown tt-megamenu-col-01">
                                    <a href="/projects/">PROJECTS</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /tt-menu -->
            </div>
            <div class="tt-col-obj tt-obj-options obj-move-right">
                <!-- tt-search -->
<div class="tt-desctop-parent-search tt-parent-box">
    <div class="tt-search tt-dropdown-obj">
        <button class="tt-dropdown-toggle" data-tooltip="Search" data-tposition="bottom">
            <i class="icon-f-85"></i>
        </button>
        <div class="tt-dropdown-menu" ng-controller="PostListing as Ctrl">
            <div class="container">
                <form>
                    <div class="tt-col">
                        <input ng-model="dropdownFilter" type="text" class="tt-search-input" placeholder="Search..." style="text-transform:none!important;">
                        <button class="tt-btn-search" type="submit"></button>
                    </div>
                    <div class="tt-col">
                        <button class="tt-btn-close icon-g-80"></button>
                    </div>
                    <div class="tt-info-text">
                        What are you Looking for?
                    </div>
                    <div class="search-results">
                        <ul>

                            <li ng-repeat="post in posts.data | filter: dropdownFilter | limitTo: 6">
                                <a href="{a post.url a}">
                                    <div class="thumbnail">
                                      <img ng-show="post.yt_video_id" src="{a get_yt_thumbnail_by_id(post.yt_video_id) a}" alt="">
                                      <img ng-show="post.header_image" src="{a post.header_image a}" alt="">
                                    </div>
                                    <div class="tt-description">
                                      <div class="tt-price">
                                        <span>{a post.categories[0] a}</span>
                                      </div>
                                        <div class="tt-title">{a post.title a}</div>
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <a href="/blog/">
                          <button type="button" class="tt-view-all">View all posts</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /tt-search -->

                
            </div>
        </div>
    </div>
</div>
<!-- tt-desktop-header - end -->

	<!-- stuck nav -->
	<div class="tt-stuck-nav">
		<div class="container">
			<div class="tt-header-row ">
				<div class="tt-stuck-parent-menu"></div>
				<div class="tt-stuck-parent-search tt-parent-box"></div>
				<div class="tt-stuck-parent-cart tt-parent-box"></div>
				<div class="tt-stuck-parent-account tt-parent-box"></div>
				<div class="tt-stuck-parent-multi tt-parent-box"></div>
			</div>
		</div>
	</div>
</header>

<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/">Home</a></li>
			<li>Blog</li>
		</ul>
	</div>
</div>

<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
            <!-- CONTENT HERE -->
            <div class="row" ng-controller="PostListing as Ctrl" ng-cloak>
	<div class="col-sm-12 col-md-8 col-lg-9">
	<h1 class="tt-title-subpages noborder">CATEGORY: {a posts.name a}</h1>
		<div class="tt-listing-post">
			<!-- Post Loop -->
			<div class="tt-post" ng-repeat="post in filter_response_data(posts.data)">
				<div class="tt-post-img">
    				<div class="embed-responsive embed-responsive-16by9" ng-show="post.yt_video_id">
    					<iframe class="embed-responsive-item" ng-src="{a make_embed(post.yt_video_id) a}" allowfullscreen></iframe>
    				</div>

    				<a href="{a post.url a}" ng-show="post.header_image">
                        <img ng-src="{a post.header_image a}" alt="">
                    </a>
				</div>
				<div class="tt-post-content">
					<h2 class="tt-title"><a href="{a post.url a}">{a post.title a}</a></h2>
					<div class="tt-description">
						{a post.excerpt a}
					</div>
					<div class="tt-meta">
                        <div class="tt-autor">
							by <span>{a post.author a}</span> on {a post.date a}
						</div>
						<!-- <div class="tt-comments">
							<a href="#disqus_thread"><i class="tt-icon icon-f-88"></i>1</a>
						</div> -->
					</div>
					<div class="tt-btn">
						<a href="{a post.url a}" class="btn">READ MORE</a>
					</div>
				</div>
			</div>

			<!-- End Post Loop -->
		</div>

	</div>
	<div class="col-sm-12 col-md-4 col-lg-3 rightColumn">
    <div class="tt-block-aside">
        <h3 class="tt-aside-title">SEARCH</h3>
        <div class="tt-aside-content">
            <form class="form-default">
                <div class="tt-form-search">
                    <input type="text" class="form-control">
                    <button type="submit" class="tt-btn-icon icon-f-85"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="tt-block-aside">
        <h3 class="tt-aside-title">CATEGORIES</h3>
        <div class="tt-aside-content">
            <ul class="tt-list-inline">
                
                <li><a href="/blog/filter/?name=cat1&by=category">cat1</a></li>
                
                <li><a href="/blog/filter/?name=cat2&by=category">cat2</a></li>
                
                <li><a href="/blog/filter/?name=cat3&by=category">cat3</a></li>
                
                <li><a href="/blog/filter/?name=cat4&by=category">cat4</a></li>
                
                <li><a href="/blog/filter/?name=cat5&by=category">cat5</a></li>
                
                <li><a href="/blog/filter/?name=cat6&by=category">cat6</a></li>
                
                <li><a href="/blog/filter/?name=cat7&by=category">cat7</a></li>
                
                <li><a href="/blog/filter/?name=cat8&by=category">cat8</a></li>
                
            </ul>
        </div>
    </div>
    <div class="tt-block-aside">
        <h3 class="tt-aside-title">TAGS</h3>
        <div class="tt-aside-content">
            <ul class="tt-list-inline">
                

                    <li><a href="/blog/filter/?name=post_tag1&by=tag">post_tag1</a></li>
                

                    <li><a href="/blog/filter/?name=post_tag2&by=tag">post_tag2</a></li>
                

                    <li><a href="/blog/filter/?name=post_tag66&by=tag">post_tag66</a></li>
                
            </ul>
        </div>
    </div>
    <div class="tt-block-aside">
        <h3 class="tt-aside-title">RECENT POST</h3>
        <div class="tt-aside-content">
            <div class="tt-aside-post">
                
                <div class="item">
                    <div class="tt-tag">
                      
                      <a href="/blog/filter/?name=cat1&by=category">cat1</a>,
                      
                      <a href="/blog/filter/?name=cat2&by=category">cat2</a>
                      
                    </div>
                    <a href="/cat1/cat2/2018/12/26/Duplicate-post-06/">
                        <div class="tt-title">PQR post</div>
                        <div class="tt-description">
                            Here is a place for your post introduction/excerpt
                        </div>
                    </a>
                    <div class="tt-info">
                        by <span>rolzwy7</span> on 26 December 2018
                    </div>

                </div>
                
                <div class="item">
                    <div class="tt-tag">
                      
                      <a href="/blog/filter/?name=cat1&by=category">cat1</a>,
                      
                      <a href="/blog/filter/?name=cat2&by=category">cat2</a>
                      
                    </div>
                    <a href="/cat1/cat2/2018/12/26/Duplicate-post-05/">
                        <div class="tt-title">MNO</div>
                        <div class="tt-description">
                            Here is a place for your post introduction/excerpt
                        </div>
                    </a>
                    <div class="tt-info">
                        by <span>rolzwy7</span> on 26 December 2018
                    </div>

                </div>
                
                <div class="item">
                    <div class="tt-tag">
                      
                      <a href="/blog/filter/?name=cat1&by=category">cat1</a>,
                      
                      <a href="/blog/filter/?name=cat2&by=category">cat2</a>
                      
                    </div>
                    <a href="/cat1/cat2/2018/12/26/Duplicate-post-04/">
                        <div class="tt-title">JKL</div>
                        <div class="tt-description">
                            Here is a place for your post introduction/excerpt
                        </div>
                    </a>
                    <div class="tt-info">
                        by <span>rolzwy7</span> on 26 December 2018
                    </div>

                </div>
                
                <div class="item">
                    <div class="tt-tag">
                      
                      <a href="/blog/filter/?name=cat7&by=category">cat7</a>,
                      
                      <a href="/blog/filter/?name=cat8&by=category">cat8</a>
                      
                    </div>
                    <a href="/cat7/cat8/2018/12/26/Duplicate-post-03/">
                        <div class="tt-title">GHI Tag test</div>
                        <div class="tt-description">
                            Here is a place for your post introduction/excerpt
                        </div>
                    </a>
                    <div class="tt-info">
                        by <span>rolzwy7</span> on 26 December 2018
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>

</div>
<script src="/assets/js/ctrls/post-listing.js"></script>

            <!-- CONTENT HERE -->
		</div>
	</div>
</div>
<!-- footer.md - start -->
<footer>
	<div class="tt-footer-default tt-color-scheme-02">
		<div class="container">
			<div class="row">
				
				<div class="col-12 col-md-9">
					<div class="tt-newsletter-layout-01">
						<div class="tt-newsletter">
							<div class="tt-mobile-collapse">
								<h4 class="tt-collapse-title">
									NEWSLETTER:
								</h4>
								<div class="tt-collapse-content">
									<form id="newsletterform" class="form-inline form-default" method="post" novalidate="novalidate" action="#">
										<div class="form-group">
											<input type="text" name="email" class="form-control" placeholder="Enter your e-mail" autocomplete="off">
											<button type="submit" class="btn">JOIN US</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-auto">
					<ul class="tt-social-icon">
						
						<!-- GitHub -->
						<li><a class="icon-e-58" target="_blank" href="https://github.com/rolzwy7"></a></li>
						
						
						<!-- RSS -->
						<li><a class="icon-g-71" target="_blank" href="/feed.xml"></a></li>
						
						
						
						<!-- YouTube -->
						<li><a class="icon-g-76" target="_blank" href="https://www.youtube.com/channel/UCuiz7fLsuWI5JuHIx07YV8A"></a></li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="tt-footer-col tt-color-scheme-01">
		<div class="container">
			<div class="row">

				<div class="col-md-6 col-lg-2 col-xl-3">
					<div class="tt-mobile-collapse">
						<h4 class="tt-collapse-title">
							TOP CATEGORIES
						</h4>
						<div class="tt-collapse-content">
							<ul class="tt-list">
								<li><a href="listing-collection.html">link</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-2 col-xl-3">
					<div class="tt-mobile-collapse">
						<h4 class="tt-collapse-title">
							LINKS
						</h4>
						<div class="tt-collapse-content">
							<ul class="tt-list">
								<li><a target="_blank" href="https://github.com/rolzwy7">GitHub</a></li>
								<li><a target="_blank" href="https://www.youtube.com/channel/UCuiz7fLsuWI5JuHIx07YV8A">YouTube</a></li>
								<li><a target="_blank" href="/feed.xml">RSS</a></li>
								<li><a target="_blank" href="/json/posts.json">JSON Feed</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="tt-newsletter">
						<div class="tt-mobile-collapse">
							<h4 class="tt-collapse-title">
								CONTACT
							</h4>
							<div class="tt-collapse-content">
								<address>
									<p><span></span> <a href="mailto:%72%6F%6C%7A%77%79%37@%67%6D%61%69%6C.%63%6F%6D">E-mail</a></p>
								</address>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="tt-mobile-collapse">
						<h4 class="tt-collapse-title">
						</h4>
						<div class="tt-collapse-content">
							<p>
								Powered by <a target="_blank" href="https://jekyllrb.com/">Jekyll</a>
								<i class="icon-h-13"></i>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- include _tt-footer-custom.md -->
</footer>

<a href="#" class="tt-back-to-top">BACK TO TOP</a>
<!-- footer.md - end -->

<!-- Modals - start -->

<!-- Modals - end -->
<script src="/assets/external/jquery/jquery.min.js"></script>
<script src="/assets/external/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/external/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/external/slick/slick.min.js"></script>
<script src="/assets/external/panelmenu/panelmenu.js"></script>
<script src="/assets/external/lazyLoad/lazyload.min.js"></script>
<script src="/assets/js/main.js"></script>
<!-- form validation and sending to mail -->
<script src="/assets/external/form/jquery.form.js"></script>
<script src="/assets/external/form/jquery.validate.min.js"></script>
<script src="/assets/external/form/jquery.form-init.js"></script>

<script src="/assets/js/ctrls/post-listing.js"></script>

</body>
</html>
