<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js" charset="utf-8"></script>
    </head>
    <script type="text/javascript">
        var app = angular.module("MainApp",[]);
    </script>
    <body ng-app="MainApp">
        <div ng-controller="HuffmanCtrl as Ctrl">
            <h2 style="text-align:center;">Huffman Code</h2>
            <hr>
            <label>Phrase:</label>
            <input ng-model="user_input.phrase" type="text">
            <button ng-click="init()" type="button" name="button" ng-disabled="calc_disabled">Calculate</button>
            <button ng-click="functions.findMin()" type="button" name="button">debug:findMin</button>
            <br>
            <hr>
            <p ng-repeat="item in user_input.history">{{item}}</p>
        </div>
    </body>
    <script type="text/javascript">
        app.controller("HuffmanCtrl", ($scope, $timeout)=> {
            $scope.calc_disabled = false;
            $scope.user_input = {
                phrase: "bibbity_bobbity",
                phrase_dict: {},
                phrase_copy_final: {},
                history: [],
            }

            $scope.functions= {
                updateDict: function(){
                    var ret = {};
                    var tmp = $scope.user_input.phrase;
                    for(var i=0;i<tmp.length;++i) {
                        if(!Object.keys(ret).includes(tmp[i]))
                            ret[tmp[i]] = 1;
                        else
                            ret[tmp[i]] += 1;
                    }
                    console.log(ret);
                    $scope.user_input.phrase_dict = ret;
                    $scope.user_input.phrase_copy_final = ret;
                    var tmp_obj = Object.assign({}, ret);
                    $scope.user_input.history.push(tmp_obj);
                },

                findMin: function() {
                    console.log("------------------------------------------------------------");
                    var phrase_dict = Object.assign({}, $scope.user_input.phrase_copy_final);
                    var keys = Object.keys(phrase_dict);

                    if(keys.length <= 2) {
                        console.log("END", phrase_dict);
                        return false;
                    }
                    var current_minimum_key;
                    var current_minimum_value;
                    var final_merge = {};
                    var final_merge_key = "";
                    var final_merge_value = 0;
                    for(var _=0;_<2;_++) {
                        current_minimum_key = Object.keys(phrase_dict)[0];
                        current_minimum_value = phrase_dict[current_minimum_key];
                        for(var i=0;i<keys.length;++i) {
                            if( current_minimum_value > phrase_dict[keys[i]] ) {
                                current_minimum_key = keys[i];
                                current_minimum_value = phrase_dict[current_minimum_key];
                            }
                        }
                        console.log("Minimum:", current_minimum_key, current_minimum_value);
                        final_merge_key += current_minimum_key;
                        final_merge_value += current_minimum_value;

                        delete phrase_dict[current_minimum_key];

                    }
                    phrase_dict[final_merge_key] = final_merge_value;
                    let tmp_obj = Object.assign({}, phrase_dict);
                    console.log("New key:", tmp_obj);
                    $scope.user_input.history.push(tmp_obj);
                    $scope.user_input.phrase_copy_final = phrase_dict;
                    this.findMin();
                }

            };

            $scope.init = function() {
                $scope.calc_disabled = true;

                var phrase_copy = "";
                for(var i=0;i<$scope.user_input.phrase.length;i++) {
                    if($scope.user_input.phrase[i] == " ")
                        phrase_copy += "_";
                    else
                        phrase_copy += $scope.user_input.phrase[i];
                }
                $scope.user_input.phrase = phrase_copy;

                $scope.user_input.history = [];
                console.log("updateDict()");
                $scope.functions.updateDict();

                console.log("findMin()");
                $scope.functions.findMin();

                $timeout(function(){
                    $scope.calc_disabled = false;
                }, 700);

            }

        });
    </script>
</html>
